<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment-header :: fm-head"></head>

<head>
    <title>Thực đơn</title>
</head>

<body class="animsition">

<header th:replace="fragment-header :: fm-header"></header>
<div th:replace="fragment-register :: fm-verifyOTP"></div>
<div th:replace="fragment-register :: fm-register"></div>
<div th:replace="fragment-requestUpdateProfile :: fm-reqUpdateProfile"></div>
<div th:replace="fragment-register :: fm-reqLogin"></div>
<div th:replace="fragment-cart :: fm-cart"></div>
<div th:replace="fragment-voucher :: fm-voucher"></div>
<div th:replace="fragment-checkout :: fm-checkout-modal"></div>

<!-- Content page -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52 justify-content-center p-lr-15">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <a class="fs-15 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" style="font-family: unset"
                   th:each="data, value: ${listLMH}"
                   th:href="@{/product/categories/{categories}(categories=${data.maLMH})}"
                   th:text="${data.tenLMH}"
                   th:classappend="${idLMH == data.maLMH} ? 'how-active1' : '' ">
                </a>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m fs-15 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Tìm kiếm
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form th:action="@{/product}" method="get" role="search">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="fs-16 cl2 size-114 plh2 p-lr-15 font-italic" type="text" name="keyword"
                               th:value="${keyword}" placeholder="Nhập từ khóa để tìm kiếm món ăn">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <!-- Banner -->
                <div class="sec-banner bg0" id="list-mat-hang">
                    <div class="container">
                        <div class="row">
                            <span style="font-weight: bold; font-size: 30px; color: black;"
                                  th:if="${#lists.size(listByLMH) == 0}">Không tìm thấy kết quả tương ứng</span>
                            <div class="lm col-md-4 p-b-30" th:each="res, value: ${listByLMH}">
                                <!-- Block1 -->
                                <div class="block1 wrap-pic-w hov-img0 bor4"
                                     style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                    <img th:src="@{${res.hinhAnh}}"
                                         alt="IMG-BANNER" height="250">

                                    <div class="block1-txt-child1 flex-col-l p-l-10 p-t-25 p-b-100">
                                        <h5 class="trans-04 font-weight-bold p-r-10" style="position: absolute"
                                            th:text="${res.tenMH}"></h5>
                                        <div>
                                            <a tabindex="0" style="cursor: pointer" data-trigger="focus"
                                               data-toggle="popover" title="Mô tả"
                                               th:attr="data-content=${res.moTa}">
                                                <span class="block1-info trans-04 p-t-50 p-r-10"
                                                      style="position: absolute"
                                                      th:text="${#strings.length(res.moTa) > 50 ? #strings.substring(res.moTa, 0, 50) + ' ...Xem thêm' : res.moTa}"></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="mtext-109 trans-04 p-t-4 p-r-10 text-success txt-right"
                                         th:text="${#numbers.formatDecimal(res.donGia, 0, 'COMMA', 0, 'POINT') + ' VND'}"></div>

                                    <div th:onclick="addToCart([[${res.maMH}]])"
                                         class="flex-c-m cl6 size-105 bg2 bor4 pointer hov-btn1 trans-04 m-tb-10 m-lr-10">
                                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 lnr lnr-cart"></i>
                                        Thêm vào giỏ hàng
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45">
                <button class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 btnLoadMore">
                    XEM THÊM &nbsp;<i class="fa fa-chevron-down"></i>
                </button>
                &nbsp;&nbsp;
                <button class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 btnLoadLess">
                    THU GỌN &nbsp;<i class="fa fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragment-footer :: fm-backtotop"></div>
<div th:replace="fragment-footer :: fm-script"></div>

<script>
    const hideShowList = () => {
        if ($('.lm').length <= 6) {
            $('.btnLoadMore').hide()
        }
        $('.container .row .lm').css('display', 'none')
        $('.lm').slice(0, 6).show()
        $('.btnLoadMore').text('XEM THÊM (' + $('.lm:hidden').length + ')')
        $('.btnLoadLess').hide()
    }
    hideShowList()
    $('.btnLoadMore').click(function () {
        $('.btnLoadLess').fadeIn('slow')
        $('.lm:hidden').slice(0, 3).slideDown()
        $('.btnLoadMore').text('XEM THÊM (' + $('.lm:hidden').length + ')')
        if ($('.lm:hidden').length == 0) {
            $('.btnLoadMore').hide()
        }
    })
    $('.btnLoadLess').click(function () {
        // $('.lm').not(':lt(6)').slideUp()
        hideShowList()
        $('.btnLoadMore').fadeIn('slow')
    })
</script>

</body>

</html>